autoflake>=2.2.1
black>=23.12.1
esbonio>=0.16.3
isort>=5.13.2
mypy>=1.8.0
networkx-stubs>=0.0.1
pandas-stubs>=2.1.4.231227
pytest>=7.4.3
pytest-cov>=4.1.0
pytest-mock>=3.12.0
sphinx>=7.2.6
sphinx-press-theme>=0.8.0
